html {
    box-sizing: border-box;
    display:block;

}

*, 
*:before, 
*:After{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

